*, :after, :before {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

.page-title{
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;
}

.page-title .title{
    line-height: 25px;
    display: inline-block;
    position: relative;
    padding: 6px 16px;
    font-size: 1.8rem;
    color: #da3b00;
    margin-bottom: 20px;
}

.page-title .title:after, .page-title .title:before {
    position: absolute;
    top: 0;
    display: block;
    width: 12px;
    height: 34px;
    content: " ";
    border: 2px solid #da3b00;
}

.page-title .title:before {
    left: 0;
    border-right: none;
}

.page-title .title:after {
    right: 0;
    border-left: none;
}

h2{
    margin: 0;
    font-size: 5.6rem;
    line-height: 65px;
    font-weight: 700;
}

.filters{
    text-align: center;
    margin: 10px 0 20px;
    position: relative;
    border-radius: 25%;
}

.filters-button{
    min-width: 90px;
}