<div class="page-title"> 
  <div  class="title">
    Making your Life Easier
  </div>
  <h2>Discovering the World</h2>
</div>


<!-- <div class="filters">
  <div style="overflow:scroll;">
     <mat-button-toggle-group [(ngModel)]="fontStyle" aria-label="Font Style"> ----------
    <mat-button-toggle-group role="group" name="category" class="mat-button-toggle-group mat-button-toggle-group-appearance-standard" aria-disabled="false">
      <mat-button-toggle class="filters-button">All</mat-button-toggle>
      <mat-button-toggle class="filters-button">Travel</mat-button-toggle>
      <mat-button-toggle class="filters-button">Lifestyle</mat-button-toggle>
      <mat-button-toggle class="filters-button">Business</mat-button-toggle>
      <mat-button-toggle class="filters-button">Vacation</mat-button-toggle>
      <mat-button-toggle class="filters-button">Other</mat-button-toggle>
    </mat-button-toggle-group>
     <p>Chosen value is {{fontStyle}}</p> -------
  </div>
</div> -->