<app-layout>
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <app-sidenav-list (sidenavClose)="sidenav.close()" (changeExampleEmmitter)="changeExample($event)"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-header-navigation (sidenavToggle)="sidenav.toggle()" (changeExampleEmmitter)="changeExample($event)"></app-header-navigation>
      <main>
        <mat-card *ngIf="!example">
          <div style="text-align:center">
            <h1>Data Interpolation and Data Binding examples</h1>
            <img width="300" alt="Tech Doggo" src="https://i.redd.it/r1qmhxhp3zpy.jpg" />
          </div>
        </mat-card>
        <app-string-interpolation *ngIf="example === 'stringInterpolation'"></app-string-interpolation>
        <app-property-binding *ngIf="example === 'propertyBinding'"></app-property-binding>
        <app-event-binding *ngIf="example === 'eventBinding'"></app-event-binding>
        <app-two-way-binding *ngIf="example === 'twoWayBinding'"></app-two-way-binding>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</app-layout>
