<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()"> <mat-icon>home</mat-icon> <span class="nav-caption">Home</span> </a>
  <a mat-list-item routerLink="/feature1" (click)="onSidenavClose()">
    <mat-icon>chevron_right</mat-icon> <span class="nav-caption">Feature 1</span>
  </a>
  <a mat-list-item routerLink="feature2" (click)="onSidenavClose()">
    <mat-icon>chevron_right</mat-icon><span class="nav-caption">Feature 2</span>
  </a>

  <mat-list-item [matMenuTriggerFor]="menu">
    <mat-icon>chevron_right</mat-icon>
    <a matline>Feature 3</a>
  </mat-list-item>
  <mat-menu #menu="matMenu">
    <button routerLink="/feature3" mat-menu-item (click)="onSidenavClose()">Feature 3 Home</button>
    <button routerLink="/feature3/guard-test" mat-menu-item (click)="onSidenavClose()">Feature 3 Guarded</button>
  </mat-menu>
</mat-nav-list>
