<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/home">Routing Test</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a [routerLink]="['/feature1']" routerLinkActive="active">Feature 1</a>
      </li>
      <li>
        <a routerLink="/feature2">Feature 2</a>
      </li>
      <li>
        <a routerLink="/feature3">Feature 3</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
