<mat-nav-list>
  <a mat-list-item (click)="changeExample('stringInterpolation'); onSidenavClose()">
    <mat-icon>chevron_right</mat-icon> <span class="nav-caption">String Interpolation</span>
  </a>

  <a mat-list-item (click)="changeExample('propertyBinding'); onSidenavClose()">
    <mat-icon>chevron_right</mat-icon> <span class="nav-caption">Property Binding</span>
  </a>

  <a mat-list-item (click)="changeExample('eventBinding'); onSidenavClose()">
    <mat-icon>chevron_right</mat-icon> <span class="nav-caption">Event Binding</span>
  </a>

  <a mat-list-item (click)="changeExample('twoWayBinding'); onSidenavClose()">
    <mat-icon>chevron_right</mat-icon> <span class="nav-caption">Two Way Binding</span>
  </a>
</mat-nav-list>
