<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

  <title>Susy</title>
</head>
<body>
  <div class="filters">
    <div style="overflow:scroll;">
      <mat-button-toggle-group role="group" name="category" class="mat-button-toggle-group mat-button-toggle-group-appearance-standard" aria-disabled="false" #toggleGroup="matButtonToggleGroup" value = 'All'>
        <mat-button-toggle class="filters-button" value="All" >All</mat-button-toggle>
        <mat-button-toggle class="filters-button" value="Travel">Travel</mat-button-toggle>
        <mat-button-toggle class="filters-button" value="Lifestyle">Lifestyle</mat-button-toggle>
        <mat-button-toggle class="filters-button" value="Business">Business</mat-button-toggle>
        <mat-button-toggle class="filters-button" value="Vacation">Vacation</mat-button-toggle>
        <mat-button-toggle class="filters-button" value="Other">Other</mat-button-toggle>
      </mat-button-toggle-group>
      <!-- {{toggleGroup.value}} -->
    </div>
  </div>


  <!-- <div class="example-button-container"> -->
    <button mat-fab  aria-label="Example icon button with a home icon" style="background-color: #da3b00;" (click)="onCreate()" class="example-button-container">
      <mat-icon>edit</mat-icon>
    </button>
  <!-- </div> -->

  <div style="display: flex; width: 100%; flex-wrap: wrap;">
    <div *ngFor="let element of post, index as i" style="width: 100%;">
        
        <mat-card *ngIf="toggleGroup.value == element.category || toggleGroup.value == 'All'" class="card" style="background-image: url({{element.bg}});">
            
          <div class="content">
            <a href="" [routerLink]="['/detail', i]"> 
              <mat-card-title class="card-title">{{element.title}}</mat-card-title>
              <mat-card-subtitle class="card-subtitle">{{element.comments.length}} Comments <mat-icon style="font-size: 15px;">forum</mat-icon></mat-card-subtitle>

              <mat-card-content>
                <p class="description" style="height: 4rem; overflow: hidden; text-overflow: ellipsis;">{{element.description}}</p>
                <p class="category">{{element.category}}</p>
              </mat-card-content>
            </a>
            <mat-card-actions class="actions">
              <button mat-icon-button (click)="onEdit(element, i)"><mat-icon>edit</mat-icon></button>
              <button mat-icon-button style="margin-right: 8px;" (click)="onDelete(i)"><mat-icon>delete</mat-icon></button>
            </mat-card-actions>
          </div>

        </mat-card>

    </div>
  </div>
</body>
</html>